<body style="margin-top: 30px;">
<div class="showVideo_frame_inner">
<div class="video-graybox" style="margin: 40px 4.5%;">
<table width="100%" cellpadding="0" cellspacing="0">
<tbody>
<tr><td colspan="2">
<h2>To get started, watch these videos and Download the Quick Start Guide.</h2>
</td>
</tr>
<tr>
<td width="25%" valign="top">
<div class="video-left-panel">
<div class="video-left-box">
<div class="video-left-body">
<div class="video" pk="1" video-url="https://www.youtube.com/embed/G7FnB73mxpU?rel=0" style="border-top: 1px solid rgb(228, 228, 228);">Take a tour</div>
</div>
<div class="video-left-body">
<div class="video" pk="3" video-url="https://www.youtube.com/embed/qUDqmMcfxdc?rel=0">Setup custom fields</div>
<div class="video" pk="2" video-url="https://www.youtube.com/embed/qUDqmMcfxdc?rel=0">Import records</div>
<div class="video" pk="8" video-url="https://www.youtube.com/embed/HlrJkR2qtes?rel=0">Setup your workflow</div>
<div class="video" pk="10" video-url="https://www.youtube.com/embed/mOVDw94Z2MA?rel=0">Setup Users and Permissions</div>
<div class="video" pk="11" video-url="https://www.youtube.com/embed/DvZ1KPmiSmQ?rel=0">Batch Update Records</div>
<div class="video" pk="12" video-url="https://www.youtube.com/embed/Zq2YyP2vpTQ?rel=0">Merge Two Records</div>
</div>
<div class="video-left-body">
<div class="video active" pk="6" video-url="https://www.youtube.com/embed/CE7PyJl0zro?rel=0">Capture web leads</div>
<div class="video" pk="7" video-url="https://www.youtube.com/embed//gCm25A0TL6U?rel=0">Managing email templates</div>
<div class="video" pk="4" video-url="https://www.youtube.com/embed/X_poHiHFDTs?rel=0">Setup broadcast campaigns</div>
<div class="video" pk="5" video-url="https://www.youtube.com/embed/HqzlsQC8ocA?rel=0">Setup touch campaigns</div>
<div class="video" pk="9" video-url="https://www.youtube.com/embed/X7KZ6CzFwVs?rel=0">Marketing analytics</div>
</div>
<div class="video-left-body">
<div class="video" pk="13" video-url="https://www.youtube.com/embed/hx4Hwews3Mg?rel=0">Marketing Reports</div>
<div class="video" pk="14" video-url="https://www.youtube.com/embed/6BRoC90sZbA?rel=0">Marketing Library</div>
</div>
<div class="quick-start-guide" onclick="javascript:openQuickStartGuide();">
						Quick Start guide</div>
</div>
</div>
			</td>
			<td width="75%" valign="top">
				<div align="center" class="video_frame" id="video_frame">
					<div class="video_frame_inner">
					
					
						<iframe id="player" width="100%" height="380px" src="https://www.youtube.com/embed/CE7PyJl0zro?rel=0?autoplay=0&amp;loop=1&amp;rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="" wmode="Opaque"></iframe>
					
					</div>
				</div>
			</td>
		</tr>
		
		</tbody></table>
		</div>
		</div>


<form action="downloadQuickStartGuide.page" name="DownloadForm" method="post"></form>

</body>