<div id="assign" role="dialog">
    <div>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header pop-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Confirmation Dialog</h4>
            </div>
            <div class="modal-body">
                <div id="popup_content" class="confirm">
                    <div id="popup_message">1 record will be deleted. Are you sure?</div>
                    <div id="popup_panel" align="center">
                        <input value="OK" id="popup_ok" ng-click="deleteApi()" class="small_btn_alert_box btn_bg1" type="button">&nbsp;&nbsp;&nbsp;
                        <input value="Cancel" id="popup_cancel" g-click="cancel()" class="small_btn_alert_box btn_bg1" type="button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>