html,
body {
    background: #FFF;
    padding: 0px;
    margin: 0;
    font-family:Arial, sans serif;
}
* {
    box-sizing: border-box;
}
a {
    color: #aaaaaa;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}
a:hover {
    color: #333333;
    text-decoration: none;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}
.container-large {
  padding: 0 60px;
  position: relative;
  width: 100%;
}
.header-c .logo a {	
    float: left;
}
.btn {
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}
.btn:hover {
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}
.margin-40 {
	margin-top:40px;
}

header { 
    padding:20px 0 0 0;
}
.header-c {
    padding: 32px 0;
}
.header-c .logo {} .logo {
    margin: 0;
}
.logo a {
    display: inline-block;
    float: left;
}

.header-bottom {
    display: inline-block;
    float: left;
    margin:25px 0 4px;
    width: 100%;
}


.copy-right {
    text-align: center;
}
.copy-right p {
    color: #878787;
    font-size: 11px;
    margin: 0 0 5px;
}
footer {
    margin: 20px 0 10px 0;
}
.recordHeader-left {
    margin-top: 1%;
    padding-left: 0;
}


/*************** Responsive Media ***************/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.home-content .col-listing {
    margin: 0 0 70px;
    min-height: 400px;
}
.home-content .col-listing::before {
	height: 100%;
}
} 



@media only screen and (max-width: 767px) {
    .container {
        width: 94%;
    }
    .logo {
        text-align: center;
    }
    .login {
        margin: 50px 0 0 0;
    }
    .form-signin {
        width: 100%;
    }
	.home-content .col-listing {
    margin: 0 0 70px;
    min-height: 400px;
}
.home-content .col-listing::before {
	height: 100%;
}
}

.tabl-listview {
    margin: auto;
    width: 90%;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2px 14px;
}
.table tr > th {
    background: #95c2ef none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
    font-weight: normal;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #e8eff7;
}
table td {
    font-size: 13px;
}
.list-search > span {
    color: #058ae5;
    display: inline-block;
    font-weight: bold;
    padding-right: 5px;
}
.list-search > div {
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 2px 3px;
    width: 284px;
}
.list-search input {
    border: medium none;
    width: 87%;
}
.list-search button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
}
.table-header {
    margin: 15px auto;
    width: 90%;
}
.col-md-5 > span {
    vertical-align: top;
}
.red {
    color: #fe0000;
}
.add-setup > span {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}
.col-md-3.col-sm-4.col-xs-4.add-setup img {
    margin-right: 3px;
}
.pop-header h4.modal-title {
    font-size: 14px;
    font-weight: bold;
}
.pop-header .close {
    color: #fff;
    font-weight: 100;
    margin: 1px;
    opacity: 1;
}
.modal-header.pop-header {
    background: #058ae5 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    padding: 4px 15px;
}
.modal-content {
    background: #eeeeee none repeat scroll 0 0;
    padding: 2px;
}
.form-group::after, .sub-menu .sublist.float-left:after, #ts_tabmenu ul.ui-sortable:after {
    clear: both;
    content: "";
    display: block;
}
.form-control{
    border-radius: 3px;
    font-size: 12px;
    height: 24px;
    line-height: 1.5;
    padding: 2px 5px;
}
.text-right {
    padding: 0;
}
.text-right > label {
  font-size: 13px;
  font-weight: bold;
}
#listsetup.modal.fade.in, #add_record .modal-dialog, .modal-dialog {
    padding:8.5% 0 0 0; 
    max-width:100%;
}
.form-group .col-md-5 input[type="checkbox"] {
    margin-left: -15px;
}
.form-group.margint-top {
    margin-top: 40px;
}
.sf-btn-gap {
    margin-right: 10px;
}
.btn-sm, .btn-group-sm > .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 2px 10px;
}
.btn-sf-primary {
    background-color: #058ae5;
    color: #fff;
}
.form-group {
    margin-bottom: 10px;
}
div.gmail-img-button {
    background: #058ae5 none repeat scroll 0 0;
    border: 1px solid #058ae5;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font: bold 12px Helvetica,Arial,sans-serif;
    opacity: 0.8;
    padding: 3px 4px !important;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    transition: border-color 0.218s ease 0s;
}
.form-group input[type="checkbox"] {
    margin-left: 15px;
    margin-right: 5px;
    vertical-align: top;
}
.form-group > h4 {
    font-size: 14px;
    font-weight: bold;
}
.btn_bg1 {
    background: #058ae5 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display:inline-block;
    margin: 20px auto 30px;
    font: bold 12px arial,verdana;
    padding: 8px 20px;
    white-space: nowrap;
}
#new_task .modal-dialog {
    max-width: 800px;
    width: 100%;
}
.padd-10 {
    padding-left: 0;
    padding-right: 5px;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.ui-grid-header-cell {
    background-color: #95c2ef;
    border-right: 1px solid;
    border-color: #ffffff;
}

.ui-grid-row:last-child .ui-grid-cell {
    border-bottom-color: #E0E0E0;
    border-bottom-style: solid;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #e8eff7;
}
.ui-grid-cell {
    border-right: 0px solid;
    border-bottom: 1px solid #E0E0E0;
}
.ui-grid-header-cell-label {
    color: #fff;
    font-weight: normal;
}
.ui-grid {
    border: 0px solid #d4d4d4;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: rgb(207, 209, 210);
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border-right: 1px none;
}
/*.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    background-color: #fff;
}*/
.ui-grid-pager-count-container {
    float: left;
}

.ui-grid-pager-count {
   margin-right: 10px;
   margin-left: 10px;
   float: left;
}
.ui-grid-pager-control {
    min-width: 68px;
}

.ui-grid-pager-panel {
    position: absolute;
    right: 0;
    bottom: -48px;
    width: auto; 
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: content-box;
    left: auto;
}
 .ui-grid-footer-info {
    display: none;
}
.clickable {
    cursor: pointer;
    text-decoration: underline;
}
.add-icon, .refresh-icon, .customizeViewImg{
    cursor: pointer;
}

.dropIcon {
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
}
span.title {
    color: #fff;
}
.bnt-title, .bnt-title:hover{
        color: #fff;
}

.header-bottom #ts_tabmenu ul li {
    display: inline-block;
    float: left;
    margin: 0 14px;
    vertical-align: top;
    position: relative;
}
.header-bottom #ts_tabmenu ul li.active span.close-tab {
    color: #ffffff;    
}
.header-bottom #ts_tabmenu ul li:hover span.close-tab {
    color: #ffffff;    
    z-index: 9999;
}

span.close-tab {
    position: absolute;
    top: 0;
    z-index: 99;
    display: block;
    right: 0;
    cursor: pointer;
    color: #058AE5;
}
.side-icon-pop {
   left: 8px;
   position: absolute;
   top: 35%;
}
.side-icon-pop > ul {
   list-style: outside none none;
   padding-left: 10px;
}
.side-icon-pop a {
   display: block;
   cursor:pointer;
   margin-bottom: 6px;
}
textarea#note_text {
   height: 200px;
   width: 100%;
   border: 1px solid #cbcbcb;
}
.form-control.sm-input {
   display: inline-block;
   width: auto;
}


.tabl-listview {
    margin: auto;
    width: 90%;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2px 14px;
}
.table tr > th {
    background: #95c2ef none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
    font-weight: normal;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #e8eff7;
}
table td {
    font-size: 13px;
}
.list-search > span {
    color: #058ae5;
    display: inline-block;
    font-weight: bold;
    padding-right: 5px;
}
.list-search > div {
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 2px 3px;
    width: 284px;
}
.list-search input {
    border: medium none;
    width: 87%;
}
.list-search button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
}
.table-header {
    margin: 15px auto;
    width: 90%;
}
.col-md-5 > span {
    vertical-align: top;
}
.red {
    color: #fe0000;
}
.add-setup > span {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}
.col-md-3.col-sm-4.col-xs-4.add-setup img {
    margin-right: 3px;
}
.pop-header h4.modal-title {
    font-size: 14px;
    font-weight: bold;
}
.pop-header .close {
    color: #fff;
    font-weight: 100;
    margin: 1px;
    opacity: 1;
}
.modal-header.pop-header {
    background: #058ae5 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    padding: 4px 15px;
}
.modal-content {
    background: #eeeeee none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 0 0 0;
    padding: 2px;
}
.form-group::after {
    clear: both;
    content: "";
    display: block;
}
.form-control{
    border-radius: 3px;
    font-size: 12px;
    height: 24px;
    line-height: 1.5;
    padding: 2px 5px;
}
.text-right {
    padding: 0;
}
.text-right > label {
    font-size: 12px;
}
#listsetup.modal.fade.in, #add_record .modal-dialog {
    padding: 5% 0 0 0; 
    max-width:100%;
}
.form-group .col-md-5 input[type="checkbox"] {
    margin-left: -15px;
}
.form-group.margint-top {
    margin-top: 40px;
}
.sf-btn-gap {
    margin-right: 10px;
}
.btn-sm, .btn-group-sm > .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 2px 10px;
}
.btn-sf-primary {
    background-color: #058ae5;
    color: #fff;
}
.form-group {
    margin-bottom: 10px;
}
div.gmail-img-button {
    background: #058ae5 none repeat scroll 0 0;
    border: 1px solid #058ae5;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font: bold 12px Helvetica,Arial,sans-serif;
    opacity: 0.8;
    padding: 3px 4px !important;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    transition: border-color 0.218s ease 0s;
}
.form-group input[type="checkbox"] {
    margin-left: 15px;
    margin-right: 5px;
    vertical-align: top;
}
.form-group > h4 {
    font-size: 14px;
    font-weight: bold;
}
.btn_bg1 {
    background: #058ae5 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display:inline-block;
    margin: 20px auto 30px;
    font: bold 12px arial,verdana;
    padding: 8px 20px;
    white-space: nowrap;
}
.modal-footer.ng-scope {
  border: medium none;
  padding-bottom: 10px;
}
#new_task .modal-dialog {
    max-width: 800px;
    width: 100%;
}
.padd-10 {
    padding-left: 0;
    padding-right: 5px;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
/**********side-icon-pop**********/
.side-icon-pop {
    left: 0;
    position: absolute;
    top: 25%;
}
.side-icon-pop > ul {
    list-style: outside none none;
    padding-left: 10px;
}
.side-icon-pop a {
    display: block;
    margin-bottom: 6px;
}
textarea#note_text {
    height: 200px;
    width: 100%;
    border: 1px solid #cbcbcb;
}
.form-control.sm-input {
    display: inline-block;
    width: auto;
}
/************convert********************/
.gray {
  color: #666666;
  font-size: 13px;
  font-weight: bold;
  margin-right: 5px;
}
.form-group > textarea#convert-text {
    border: 1px solid #cbcbcb;
    display: block;
    height: 80px;
    width: 100%;
}
.pop_subheading {
    color: #666666;
    font: bold 13px arial,verdana;
    margin-bottom: 0;
    padding-bottom: 5px;
}
/*******edit-page************/
.sf-form-header {
    background-color: #f0f0f0;
    border: 1px solid #dfdfdf;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 1.5;
    margin: -2px 0 0;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.form-group.edit-form {
    margin:10px 0;
}
.edit-input {
    display: inline-block;
    width: 75%;
}
label.edit-lable {
    width: 130px;
}
textarea.form-control.edit-input {
    height: 100px;
    vertical-align: middle;
    width: 88%;
}
/************sales-report*************/
.submenu_area {
  background-color: #058ae5;
  height: 42px;
}
ul.sublist li {
  display: inline;
  float: left;
  list-style-type: none;
  margin: 5px 0;
  padding: 0 14px;
}
ul.sublist li a:hover, ul.sublist li.active a {
  color: #ffffff;
}
ul.sublist li a {
  color: #e1e1e1;
  cursor: pointer;
  text-decoration: none;
}
/*************list-edit****************/
.nav > li > a {
    background: transparent none repeat scroll 0 0 !important;
    color: #fff;
    display: block;
    padding: 10px 15px;
    position: relative;
}
.nav.edit-list-menu {
    text-align: right;
}
.blue-top-header.submenu_area {
  height: 40px;
  margin: 0 !important;
}
.blue-top-header .col-md-3 {
    color: #fff;
    font-size: 20px;
    padding-top: 4px;
}
.edit-soical-header {
    background: #95c2ef none repeat scroll 0 0;
    position: relative;
}
.edit-soical-header .col-md-4 span {
    display: inline-block;
    padding-top: 10px;
    cursor: pointer;
}
img#imgSocialClose {
    cursor: pointer;
}
.nav.edit-list-menu > li {
    display: inline-block;
}
.breadcrumb {
    background: transparent none repeat scroll 0 0;
    color: #398be8;
    cursor: default;
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    text-decoration: none;
    vertical-align: middle;
}
.breadcrumb_blue_arrow {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/breadcrumb_arrow2.png");
    background-repeat: no-repeat;
    border: medium none;
    cursor: default;    
    height: 16px;
     display: inline-block;  
    margin: 9px 0;
    width: 12px;
    vertical-align: middle;
}

.breadcrumb2 {
    color: #ffffff;
    cursor: default;
    display: inline-block;    
    font: 14px/34px arial,verdana;
    height: 34px;
    padding: 0 6px;
    text-decoration: none;
    vertical-align: middle;
}

.breadcrumb_white_arrow {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/breadcrumb_arrow.png");
    background-repeat: no-repeat;
    border: medium none;
    cursor: default;
     display: inline-block;  
    height: 16px;
    margin: 9px 0;
    width: 12px;
    vertical-align: middle;
}
.customize {
    color: #058ae5;
    font: 13px arial,verdana;
    margin-top: 8px;
    padding: 5px 15px 0 0;
    text-align: right;
}
.bg-light-blue {
    background: #e8eff7 none repeat scroll 0 0;
    height: 100%;
}
.col-md-3.bg-light-blue > ul {
    list-style: outside none none;
    padding: 10px;
}
.listview_table {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #b5b5b5;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: capitalize;
}
.edit-hover-img {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 15px;
    width: 14px;
}
.col-md-3.bg-light-blue li {
    color: #626464;
    position: relative;
}
.col-md-3.bg-light-blue li:hover .edit-hover-img {
    opacity: 1;
}
.list-edit-content {
    height: 680px;
}
.taskheader {
    color: #4d4d4d;
    font: 17px arial,verdana;
    padding: 10px 0 0;
}
.apponment-icon {
    float: right;    
    width:20%;
}
.appoinmnet-date {
    float: left;
    width:67%;
}
.time-icon {
    float: left;
    margin: 0 7px;
    width:8%;
}
.appoinmnet-date > span {
    color: #b5b5b5;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}
.appoinmnet-date b {
    color: #626464;
    display: block;
    font-size: 13px;
    text-decoration: underline;
}
i.red {
    display: block;
}


#small_tabmenu {
    border-bottom: 2px solid #95c2ef;
    font-size: 12px;
    margin: 22px 0 11px;
    padding: 0;
}
#small_tabmenu ul {
    line-height: 13px; /* setting the line height now so we don't have any headaches*/
    margin: 0px; /* let's keep the margin set to 0 for the same reasons as above*/
    list-style-type: none; /* we remove the UL's default disc bullets */
    float: left; /* we float the list to the left like we will all the elements inside*/
    padding: 0px 0px 0px 5px; /* give it a left padding of 5px to counter the effect of margin -5px below */
    width:103%;
}
/*#ts_tabmenu ul li {
    float: left; 
    font:bold 14px/13px Verdana, Arial, Helvetica, sans-serif;
    list-style-type:none;   
    white-space:nowrap;
    margin-right: 6px;
}*/
#small_tabmenu ul li {
    float: left; 
    font:bold 12px/14px Verdana, Arial, Helvetica, sans-serif;
    list-style-type:none;   
    white-space:nowrap;
    margin-right: 4px;
    /*position:relative;
    z-index: 0;*/
}
#small_tabmenu ul li a {
    background: rgba(0, 0, 0, 0) url("../images/small_tab.png") no-repeat scroll left top;
    color: #939598;
    display: block;
    float: left;
    margin-left: -5px;
    padding: 0 0 0 30px;
    text-decoration: none;
}
#small_tabmenu ul li a strong {
    font-weight: normal;   /* remove the bold effect */
    display: block;   /* display the strong element as a block so we can pad it, etc. */
    float: left;   /* float it left as well */
    text-align:center;
    background: url(../images/small_tab.png) no-repeat right top;  /* now we show the right part of the tab and we complete the "puzzle" */
    padding: 6px 18px 7px 5px;  /* important, as through this you define the position of the text within the tab */
    cursor: pointer;  /* this makes the browser show the "hand" cursor when hovering over the tab */
}
#small_tabmenu ul li a:hover {
    text-decoration: none; /* remove the default underline off the anchor text */
    display: block; /* we display this text as block so that we can apply padding/margin without problems */
    float: left; /* floatin' left, to make the menu horizontal */
    padding: 0px 0px 0px 12px;  /* we give it a left padding of 10px to show the first 10 pixels of the tabs image. you can also use padding-left: 10px; */
    background: url(../images/small_tab_hover.png) no-repeat left top;  /* we link to the tabs image, no tiling, showing the top left part of it */
    margin-left: -5px;  /* this is important for the overlapping part - we are overlapping the tabs by 5 px */
    z-index: 0; /* keep it on layer 0 (default) */
    position: relative;  /* very important as this enables the z-index to work for us and keeps the tabs where they should be */
    color: #ffffff;  /* color of the tab text */
}
#small_tabmenu ul li a:hover strong {
    font-weight: normal;   /* remove the bold effect */
    display: block;   /* display the strong element as a block so we can pad it, etc. */
    float: left;   /* float it left as well */
    text-align:center;
    background: url(../images/small_tab_hover.png) no-repeat right top;  /* now we show the right part of the tab and we complete the "puzzle" */
    padding: 6px 18px 7px 5px;  /* important, as through this you define the position of the text within the tab */
    cursor: pointer;  /* this makes the browser show the "hand" cursor when hovering over the tab */
}
#small_tabmenu ul li a.selected {
    background: rgba(0, 0, 0, 0) url("../images/small_tab_selected.png") no-repeat scroll left top;
    display: block;
    float: left;
    margin-left: -8px;
    padding: 0 0 0 32px;
    position: relative;
    text-decoration: none;
    z-index: 5;
}
#small_tabmenu ul li a strong.selected {
    color:#ffffff;
    font-weight: normal;   /* remove the bold effect */
    display: block;   /* display the strong element as a block so we can pad it, etc. */
    float: left;   /* float it left as well */
    text-align:center;
    background: url(../images/small_tab_selected.png) no-repeat right top;  /* now we show the right part of the tab and we complete the "puzzle" */
    padding: 6px 18px 7px 5px;  /* important, as through this you define the position of the text within the tab */
    cursor: pointer;  /* this makes the browser show the "hand" cursor when hovering over the tab */
    position: relative; /* keep it relative */
    z-index: 5; /* show this on layer 5 as well */  
}

.col-md-7 .list-search > div {
    width: 209px;
}
.col-md-7 .list-search > div input {
    width: 82%;
}
.innertab-list-page > li {
    list-style: outside none none;
    padding: 3px 10px;
}
.innertab-list-page > li:nth-last-child(2n) {
    background: #e8eff7 none repeat scroll 0 0;
}
.innertab-list-page {
    margin-top: 10px;
}
#small_tabmenu li a span {
    margin-left: -17px;
}
/************new-edit-css*************************/
.header-bottom .row {
    margin: 0;
}
.input-group-btn .btn.btn-default {
    padding: 1px 8px;
}
.form-group .col-md-1, .container-fluid.ng-scope {
    padding: 0;
}

#new_task .col-md-2 input[type="checkbox"] {
    margin: 0 5px !important;
    width: auto !important;
}
.td-no-padding td {
    vertical-align: top;
    padding: 3px 0 0px 6px !important;
}
.row.padd-top {
    padding: 20px 0;
}

.ui-grid-filter-container {
    display: none;
}
.smal-tabs #ts_tabmenu a.ng-binding {
  width: 60px;
}
.smal-tabs #ts_tabmenu ul.ui-sortable {
  border-bottom: 2px solid #95c2ef;
  margin: 21px 0 0;
  padding: 0;
}
.col-md-6 #ts_tabmenu ul.ui-sortable:after {
    clear: both;
    display: block;
    content: "";
}
.col-md-6 .col-lg-8.col-md-8.col-sm-8.col-xs-12.recordHeader-left.pull-left {
    width: 100%;
}
.col-md-6 .col-lg-8.col-md-8.col-sm-8.col-xs-12.recordHeader-left.pull-left input.form-control.ng-pristine.ng-valid.ng-empty.ng-touched {
    width:160px !important;
    display: inline-block !important;
}
.col-md-6 .header-search {
    display: inline-block;
}


.SocialMedia_rgtbox1 {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 2px #aaaaaa;
    line-height: 18px;
    margin: 4px 0 0;
    position:absolute;
    top: 276px;
    width: 450px;
    z-index: 9999;
}
.SocialMedia_droparrow {
    position: absolute;
    top: -15px;
    z-index: 101;
}
.social_heading_1 {
    border-bottom: 1px solid #cdcdcd;
    margin: 10px 4px 0;
    padding: 0 0 5px;
}
.social_heading_1 td {
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
}
td.connectFail {
    height: 70px;
    vertical-align: middle;
    width: 100%;
}
.social_button2 {
    background: #058ae5 none repeat scroll 0 0;
    border: 1px solid #058ae5;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: table;
    font: bold 13px/34px arial,verdana;
    height: 34px;
    padding: 0 10px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 15px 0 0;
    text-align: center;
    display: inline-block;
}

.none{
  display: none;
}

.block{
  display:block;
}

img#imgCustomise {
  margin: 7px 10px;
  position: absolute;
  right: -10px;
  top: 15px;
}
.ui-grid-menu-mid {
    max-height: 200px !important;
}
.drop-menu-item {
    position: relative;
    color: #777;
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 3px 3px 15px 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 15px;
}
.drop-menu-item-optgroup a {
    text-decoration: none;
    color: #535353;
}
.nav.edit-list-menu > li > a { 
  text-transform: capitalize;
}
.header-bottom .nav.nav-tabs {
  background: #ffffff url("../images/header_top.png") repeat-x scroll left bottom;
  padding-bottom:5px;
  padding-top: 15px;
  border: medium none;
}
.field.ui-tab .btn.btn-primary {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #337ab7;
  margin-left: 5px;
  padding: 0;
}
.field.ui-tab div > a {
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  padding-left: 5px;
}
.drop-menu-item.selected .ng-binding {
  color: #777;
  font-weight: 400;
}
.ng-binding .glyphicon.glyphicon-ok {
  margin: -23px;
  padding-right: 27px;
}
#small_tabmenu ul li {
  float: left;
  font: bold 12px/14px Verdana,Arial,Helvetica,sans-serif;
  list-style-type: none;
  margin-right: 4px;
  white-space: nowrap;  
}
#small_tabmenu ul li a {
  background: rgba(0, 0, 0, 0) url("../images/small_tab.png") no-repeat scroll left top;
  color: #939598;
  display: block;
  float: left;
  margin-left: -5px;
  padding: 0 0 0 12px;
  text-decoration: none;  
}
#small_tabmenu ul li a strong {
  background: rgba(0, 0, 0, 0) url("../images/small_tab.png") no-repeat scroll right top;
  cursor: pointer;
  display: block;
  float: left;
  font-weight: normal;
  padding: 6px 18px 7px 5px;
  text-align: center;  
}
.smal-tabs #ts_tabmenu {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.smal-tabs {
  padding: 0;
  position: relative;
}
table.table-striped tr.transparent-red th, table.table-striped tr.transparent-red {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  border: medium none;
  color: #ff0000;
  font-weight: bold;
  text-transform: capitalize;
}
.text-right.ng-binding {
  color: #0000ff;
  cursor: pointer;
}
.transparent-blck {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  border-top: 2px solid #058ae5;
  color: #6a6a6a;
}
.transparent-blck .text-right {
  color: #0000ff;
}
div.setup_heading {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #058ae5;
  font-weight: normal;
  list-style: outside none none;
  margin-bottom: 5px;
  padding: 0 0 3px;
}
.form-group.text-center.ng-scope {
  clear: both;
}
.small_btn {
  background: #058ae5 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;  
  font: bold 12px arial,verdana;
  padding: 3px 15px;
  text-align: center;
  white-space: nowrap;
}
.col-md-7.text-right a {
  color: #337ab7;
}

.col-md-2.red {
  font-size: 13px;
  font-weight: bold;
}
.selectize-control.multi .selectize-input [data-value], .selectize-control.multi .selectize-input .active[data-value] {
  background-color: #1b9dec;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-repeat: repeat-x;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333333;
  text-shadow: initial;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  border-left: medium none rgba(0, 0, 0, 0);
}
.salesTemplate-width {
  margin: 2% auto auto;
  width: 900px;
}
.btn-group.dropdown.right-side {
  display: block;
}
.salesTemplate-width .col-md-2 {
  padding: 0;
  text-align: right;
  width: 15%;
}
.cke_top {
    background: #cfd1cf -moz-linear-gradient(center top , #f5f5f5, #cfd1cf) repeat scroll 0 0 !important;
    border-bottom: 1px solid #d1d1d1;
    padding: 6px 8px 2px;
    white-space: normal;
}
.form-control.editor-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  color:#000;
}
.img_margin {
  margin-top: -16px;
  position: absolute;
  right: 19px;
}



#adv-search li a.ng-binding {
  color: #909090;
  font: 13px Helvetica,Arial,sans-serif;
  padding: 0;
}
#adv-search li.ng-scope {
  border-bottom: 1px solid #e5e5e5;
  padding: 4px;
  width: 132px;
}
#adv-search ul.dropbox {
  background-color: #f3f4f4;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #dcdcdc;
  left: 85px;
  padding: 0;
  position: absolute;
  z-index: 99;
}
.right-side .dropdown-menu {
  height: 360px;
  left: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 280px;
}
.col-md-12 .btn_bg1 {
  margin-bottom: 10px;
}
.header-search .search-title, .advSpan a {
  color: #058ae5;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding-right: 5px;
}
.ui-grid-pager-control .first-triangle {
  background: rgba(0, 0, 0, 0) url("../images/arrow_left_gray.png") no-repeat scroll 0 0 / 100% 100%;
  border: medium none;
  height: 9px;
  padding: 0 !important;
  width: 6px;
}
.ui-grid-pager-control .last-triangle {
  background: rgba(0, 0, 0, 0) url("../images/arrow_right_gray.png") no-repeat scroll 0 0;  
  border: medium none;
  height: 9px;
  padding: 0 !important;
  width: 6px;
}
.ui-grid-pager-control button {
  background: #058ae5 none repeat scroll 0 0 !important;
  border: 1px solid #058ae5;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer !important;
  display: inline-block;
  font: bold 12px Helvetica,Arial,sans-serif;
  height: 18px !important;
  min-width: 18px;
  opacity: 0.8 !important;
  padding: 3px 4px !important;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  transition: border-color 0.218s ease 0s;
  width: 18px !important;
}
.ui-grid-pager-count .ng-binding {
  font-weight: bold;
}
.ui-grid-pager-container .ui-grid-pager-control	{
  margin: 3.5px 9px 0 0;
  min-width: auto;
}
.ui-grid-pager-row-count-picker select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #058ae5;
  background-image: url("../images/arrow_down_gray.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: medium none;
  border-radius: 2px;
  box-shadow: none;
  height: 18px;
  margin-top: 5px;
  opacity: 0.8 !important;
  padding: 2px;
  text-indent: -999px;
  width: 18px;
}
.ui-grid-pager-row-count-picker .ng-pristine option {
  background: #ffffff none repeat scroll 0 0;
  padding: 6px;
}
li input.edit-input {
  width: 45%;
}
.advance-saerch-detaisl li {
  display: inline-block;
  width: 49%;
}
.advance-saerch-detaisl li label.edit-lable {
  color: #636362;
}
.qtip-default {
  background-color: #e8eff7;
  border-color: #95c2ef;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #555555;
}
.qtip .qtip-tip, .qtip .qtip-tip .qtip-vml, .qtip .qtip-tip canvas {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 dashed rgba(0, 0, 0, 0);
  color: #123456;
  position: absolute;
}
.qtip-content {
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 5px 9px;
  position: relative;
  text-align: left;
}

.qtip-titlebar {
  border-width: 0 0 1px;
  font-weight: 700;
  overflow: hidden;
  padding: 5px 35px 5px 10px;
  position: relative;
}
.qtip-title {
  color: #555555;
}
.qtip-default .qtip-titlebar {
  background-color: #95c2ef;
  border-radius: 5px 5px 0 0;
}
.qtip-close {  
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  outline: medium none;
  position: absolute;
  right: -9px;
  top: -9px;
}
.qtip-default .qtip-icon {
  background: #f1f1f1 none repeat scroll 0 0;
  border-color: #cccccc;
  color: #777777;
}
.qtip-titlebar .qtip-close {
  margin-top: -9px;
  right: 4px;
  top: 50%;
}
.qtip {
  direction: ltr;
  font-size: 10.5px;
  line-height: 12px;
}
.qtip {
  box-shadow: none;
  direction: ltr; 
  font-size: 10.5px;
  left: -28000px;
  line-height: 12px;
  max-width: 280px;
  min-width: 50px;
  padding: 0;
  position: absolute;
  top: -28000px;
}
.tooltip_close {
  color: #2b2b2b;
  padding: 3px;
}
.help-button {
  position: relative;
}
div.selected.drop-menu-item {
  background-image: url("../images/checkmark.png");
  background-position: left center;
  background-repeat: no-repeat;
}
.dropdown.dropdown-lg .dropdown-menu.drop-menu-box{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: -moz-use-text-color #dbdbdb #dbdbdb;
  border-image: none;
  border-radius: 0 0 5px 5px;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  box-shadow: 4px 4px 4px #dcdcdc;
  max-width: 900px;
  min-width: 120px;
  padding-bottom: 6px;
  position: absolute;
  z-index: 999;
}
.drop-menu-item:hover {
  background-color: #e1e1e1;
  color: #000000;
}

.ui-grid-selection-row-header-buttons.ui-grid-icon-ok.ng-scope {
  border: 1px solid;
  height: 15px;
  margin: 3px;
  opacity: 1;
  width: 15px;
  background:#fff;
}
.ui-grid-icon-ok::before {
  display:none;
}
.ui-grid-selection-row-header-buttons.ui-grid-icon-ok.ng-scope.ui-grid-all-selected::before,
.ui-grid-selection-row-header-buttons.ui-grid-icon-ok.ng-scope.ui-grid-row-selected::before{
  content: "썢";
  display: block;
  font-size: 13px;
  margin: 0;
  position: relative;
  top: -1px;
}
.sub-menu > .container-large > .btn-group.dropdown div {
  padding-top: 0;
}
.ui-grid-viewport.ng-isolate-scope {
  overflow: visible !important;
}
.btn.btn-default span {
  color: #777777;
}
.chosen-container-single .chosen-single {
  background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%) repeat scroll 0 0 padding-box;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444444;
  display: block;
  height: 23px;
  line-height: 24px;
  overflow: hidden;
  padding: 0 0 0 8px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
#popup_content.confirm {
  background-image: url("../images/confirmation.png");
  background-repeat: no-repeat;
  padding: 3px 54px 20px;
}
.nav.nav-tabs {
  margin-bottom: 0;
  padding-left: 60px;
}
.sub-menu .sublist.float-left {
  float: none;
  margin: auto;
  padding-left: 50px;
}
.nav-tabs .ng-scope.ng-isolate-scope:hover, .nav-tabs .ng-scope.ng-isolate-scope.active{
	background: rgba(0, 0, 0, 0) url("../images/tab_selected.png") no-repeat scroll left top / 100% 28px;	
	color: #ffffff;
}
.nav-tabs .ng-scope.ng-isolate-scope {
  background: rgba(0, 0, 0, 0) url("../images/tab.png") no-repeat scroll left top / 100% 28px;
  border: medium none;
  box-shadow: 0 0 0 0;  
  display: block;
  float: left;
  font: 14px verdana;
  height: 28px;
  margin-left: -7px;
  padding: 5px 0 0;
  color: #939598;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-tabs .ng-binding {
  border: medium none !important;
  -webkit-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-out 0s;
  color: inherit !important; 
  min-width: 160px;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
}
.tab_close_btn:hover {
  background-color: #ffffff;
  border: medium none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: -4px;
  margin-top: 2px;
  padding: 3px;
}

.tab_close_btn {
  
  border: medium none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: -4px;
  margin-top: 2px;
  padding: 3px;
}
.tab-content {
  overflow: visible;
}