<div class="modal-header pop-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Customize Opportunities</h4>
</div>
<div class="modal-body" id="modal-body">
    <form name="accountForm" ng-submit="submitForm(accountForm.$valid)" novalidate>
        <div class="form-group">
        
            <div class="col-md-3 text-right red"><label><a  style="margin-right: 5px;"><img src="images/edit_report.png"></a>
			Workflow Name</label></div>
			<div class="col-md-7">
                <input type="text" class="form-control" ng-model="accounts.name">
            </div>
		</div>
			<div class="form-group">
		   <div class="col-md-3 text-right red"><label><a  style="margin-right: 5px;"><img src="images/edit_report.png"></a>Status</label></div>
            <div class="col-md-7">
                <select class="form-control" required="required" ng-model="accounts.status">
            <option value="Lead">Qualified</option>
            <option value="Prospect">Presentation</option>
            <option value="Customer">Proposal</option>
            <option value="Customer">Negotiation</option>
            <option value="Customer">Close</option>
         </select>
            </div>
			 
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right red"><label><a  style="margin-right: 5px;"><img src="images/edit_report.png"></a>Name</label></div>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="accounts.name">
            </div>
			 <div class="col-md-2 edit-delt">
				<a  ng-click="editField()"><img src="images/icon_edit.png" width="12px" height="12px">	</a>
				<a  ng-click="Fieldelete()"><img src="images/icon_close.png" style="margin-left: 10px;" width="12px" height="12px"></a>
			  </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right red"><label><a  style="margin-right: 5px;"><img src="images/edit_report.png"></a>Company</label></div>
            <div class="col-md-7">
			<p class="input-group">
	<input class="form-control ng-pristine ng-untouched ng-isolate-scope ng-empty ng-invalid ng-invalid-required ng-valid-datetime" datetime-picker="MM/dd/yyyy HH:mm"  ng-model="accounts.company" is-open="picker4.open" required="" type="text"><!-- ngIf: isOpen && showPicker == 'date' --><!-- ngIf: isOpen && showPicker == 'time' -->
	<span class="input-group-btn">
		<button type="button" class="btn btn-default" ng-click="openCalendar2($event, 'picker4')"><span class="glyphicon glyphicon-search"></span></button>
	</span>
</p>               
            </div>
			 <div class="col-md-2 edit-delt">
				<a  ng-click="editField()"><img src="images/icon_edit.png" width="12px" height="12px">	</a>
				<a  ng-click="Fieldelete()"><img src="images/icon_close.png" style="margin-left: 10px;" width="12px" height="12px"></a>
			  </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right red"><label><a  style="margin-right: 5px;"><img src="images/edit_report.png"></a>Sales rep</label></div>
            <div class="col-md-7">
                <select class="form-control" required="required" ng-model="accounts.salesrep">
           <option value="Lead">Ravi Teja villa</option>
            
         </select>
            </div>
			 <div class="col-md-2 edit-delt">
				<a  ng-click="editField()"><img src="images/icon_edit.png" width="12px" height="12px">	</a>
				<a  ng-click="Fieldelete()"><img src="images/icon_close.png" style="margin-left: 10px;" width="12px" height="12px"></a>
			  </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right red"><label><a  style="margin-right: 5px;"><img src="images/edit_report.png"></a>Opportunity $ </label></div>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="accounts.opportunity">
            </div>
			 <div class="col-md-2 edit-delt">
				<a  ng-click="editField()"><img src="images/icon_edit.png" width="12px" height="12px">	</a>
				<a  ng-click="Fieldelete()"><img src="images/icon_close.png" style="margin-left: 10px;" width="12px" height="12px"></a>
			  </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right red"><label><a  style="margin-right: 5px;"><img src="images/edit_report.png"></a>Close Date</label></div>
            <div class="col-md-7">
				<p class="input-group">
            	<input class="form-control ng-pristine ng-untouched ng-isolate-scope ng-empty ng-invalid ng-invalid-required ng-valid-datetime" datetime-picker="MM/dd/yyyy HH:mm"  ng-model="accounts.date" is-open="picker4.open" required="" type="text">
            	<span class="input-group-btn">
            		<button type="button" class="btn btn-default" ng-click="openCalendar2($event, 'picker4')"><span class="glyphicon glyphicon-calendar"></span></button>
            	</span>
            </p>
              
            </div>
			 <div class="col-md-2 edit-delt">
				<a  ng-click="editField()"><img src="images/icon_edit.png" width="12px" height="12px">	</a>
				<a  ng-click="Fieldelete()"><img src="images/icon_close.png" style="margin-left: 10px;" width="12px" height="12px"></a>
			  </div>
        </div>
    </form>
</div>
<div class="modal-footer ng-scope" style="padding-top: 0px; padding-bottom: 40px;">
    <div class="form-group">
        <div class="col-md-3 col-sm-1"><label></label></div>
        <div class="col-md-9 col-sm-11">
            <div class="col-md-5 text-left">
               <a ng-click="addField()" style="font-weight: bold; color: rgb(52, 0, 238); text-decoration: underline;">Add Field</a> 
            </div>
            <div class="col-md-5 col-sm-6  text-right">
                <button type="submit" id="btnSave" name="btnSave" class="btn btn-sf-primary btn-sm sf-btn-gap" ng-click="ok()">Save</button>
                <a class="transbluebtn" ng-click="()" href="">Cancel</a>                
            </div>
        </div>
    </div>
</div>