<div class="modal-header pop-header">
   <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
   <h4 class="modal-title">Export to excel</h4>
</div>
<div class="modal-body" id="modal-body">
   <div>
       <p><input type="radio" class="excehl" ng-checked="selected=='select'" ng-true-value="'select'" ng-model="selected">Export selected records</p>
       
       <p><input type="radio" class="excehl" ng-checked="selected=='all'" ng-true-value="'all'" ng-model="selected">Export all records </p>

   </div>
</div>
<div class="modal-footer">
   <div class="form-group">
      <div class="col-md-12 col-sm-11" style="text-align: center;">

            <button type="submit" id="btnSave" name="btnSave" class="btn btn-sf-primary btn-sm sf-btn-gap" ng-click="exportToCSV()">Export</button>
            <button type="submit" id="btnSave" name="btnSave" class="btn btn-sf-primary btn-sm sf-btn-gap" ng-click="ok()">Cancel</button>           
        
      </div>
   </div>
</div>