<div class="container">
    <div class="row">
        <div class="login forget-password">

            <form name="forgotFrom" ng-submit="submitForgotForm(forgotFrom.$valid)" novalidate ng-show="showInput">
        
                <h2 class="form-signin-heading">
					<img src="images/login_alert.png"/>Having trouble logging in ?</h2>
               
                <div class="form-group padding-left" ng-class="{ 'has-error' : forgotFrom.email.$invalid && !forgotFrom.email.$pristine }">
                    <label>Enter your email address to retrieve your password<!--<span class="red">*</span>--></label>
                <div class="padding-lefts form-group">
					<label>Email</label>
					<input type="email" name="email" class="form-control login_textbox" ng-model="user.email" placeholder="Email address" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>                 
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="forgotFrom.$invalid">    Continue
                    </button>					  
                </div>
                </div>
                 
                  <div class="checkbox padding-left "> 

                    <p ng-show="msgcheck" class="help-block" style="color: red;">
                        <!-- Please verify that you have entered the correct email address. -->
                       
                        Please verify that you have entered the correct email address.
                    </p>

                    <p ng-show="forgotFrom.email.$invalid && !forgotFrom.email.$pristine" class="help-block" style="color: red;">
                     Please enter your email address.
                        </p>                
                        
                    <p class="forgot-password login-here"><a ui-sref="login"><strong>Click here</strong></a> to try again.</p>
                </div>
                
                
            </form>

            <div ng-show="mailSend">
                 <h2 class="form-signin-heading"> Email sent to your account !?</h2>
               
                 <ul style="padding-left:48px" class="login_text">
                    <li style="padding-bottom:10px;"><b>Please check your Inbox for password.</b><br>If you do not find the email in Inbox, please check in Spam and Junk folders.</li>

                    <li>If you still cannot log in, please contact us at <a class="loglink" href="mailto:smbsupport@soffront.com"> smbsupport@soffront.com</a></li>
                </ul>
                
                <div class="checkbox">                    
                    <p class="forgot-password login-here"><a ui-sref="login"><strong>Click here</strong></a> to log in.</p>
                </div>
            </div>
        </div>
    </div>
</div> 
