<div class="container">
    <div class="row">
        <div class="login forget-password">            
        
                <h2 class="form-signin-heading">
					<img src="images/login_alert.png"/>Cannot continue Soffront Online session!</h2>             
                
                <div class="checkbox padding-left ">     
							<p>Your session has expired !!! </p>
                    <p class="forgot-password login-here"><a ui-sref="login"><strong>Click here</strong></a> to log in</p>
                </div>
        </div>
    </div>
</div> 
