<div class="login-header" ng-show="$state.includes('login')">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12 logo">
	            <a href="http://www.soffront.com/" target="_blank"><img src="images/1soffront_logo.png" alt="Logo" /></a>
	        </div>
	    </div>
	</div>
</div>
<div class="login-header" ng-show="$state.includes('forgotpassword')">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12 logo">
	            <a href="http://www.soffront.com/" target="_blank"><img src="images/1soffront_logo.png" alt="Logo" /></a>
	        </div>
	    </div>
	</div>
</div>
<div class="login-header" ng-show="$state.includes('jtrackLogin')">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12 logo">
	            <a href="http://www.soffront.com/" target="_blank"><img src="images/1soffront_logo.png" alt="Logo" /></a>
	        </div>
	    </div>
	</div>
</div>
<div class="login-header" ng-show="$state.includes('sessionexpired')">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12 logo">
	            <a href="http://www.soffront.com/" target="_blank"><img src="images/1soffront_logo.png" alt="Logo" /></a>
	        </div>
	    </div>
	</div>
</div>
<!--  -->