<div ng-app="account" ng-controller="accountsCtrl">
   <div class="sub-menu" >
      <div class="container-large">
         <div class="btn-group" uib-dropdown>
            <div  class="btn btn-link" uib-dropdown-toggle>

               <span  class="title"  ng-init="filterSort= {name:'All'}" title="{{filterSort.name}}">
                  {{filterSort.name}}  
                  <img src="images/arrow_open_orange.png" valign="middle" class="dropdown-img" >
                  <img src="images/submenu_arrow.png" class="arrow">
               </span>
            </div>
            <ul class="dropdown-menu account" uib-dropdown-menu role="menu" aria-labelledby="split-button">
					 <div class="account">
			  <li class="field ui-tab accoun-list-drop">
				<div class="drop-accoun-title">
					<a href="javascript:void(0)">My Filters</a>
					<button  ng-click="addFilter()" type="button" class="plus-btn btn btn-primary" title='Add'>
						<span class="glyphicon glyphicon-plus" aria-hidden="true" title="Add"></span>
					</button>                    
				 </div>
                              
				<div class="drop-menu-item"  ng-repeat="group in accountData.data.queries"  ng-class="{selected : group.name === idSelectedAppointment}">
				   <a href="javascript:void(0)" ng-click="setSelectedAccount(group.name); filterSelected(group)" title="  {{group.name}}">
					   <span class="glyphicon glyphicon-ok" ng-show="group.name === idSelectedAppointment"></span> {{group.name}}
				   </a>
			   </div>
			   </li>
			   <li class="field ui-tab accoun-list-drop group">
				   <div class="drop-accoun-title">                      
				<a href="javascript:void(0)" >My Groups</a>&nbsp;&nbsp;
		
					<button type="button" class="btn btn-primary" title='Add'>
					   <span class="glyphicon glyphicon-plus plus-btn" aria-hidden="true"></span>
					 </button>
				  </div>
					 <div class="drop-menu-item" style="width: 115px;"  ng-repeat="data in accountData.data.group_by" >
					 <a href="javascript:void(0)" ng-click="setSelectedFilter(data.label)" title=" {{data.label}}">
					 <span class="glyphicon glyphicon-ok" ng-show="group.name === idSelectedAppointment"></span>
					 {{data.label}}
					 </a>
                </div>
                                       
               </li>
			   </div>
            </ul>
         </div>

	    <!-- Split button -->
      <div class="btn-group" uib-dropdown>
         <div class="btn btn-link dropdown-toggle" uib-dropdown-toggle title="{{groupSort.label}}" ng-init="groupSort= {label:'Status'}">
         <span class="title">
            {{groupSort.label}}  
            <img src="images/arrow_open_orange.png" valign="middle" class="dropdown-img" >
			<img src="images/submenu_arrow.png" class="arrow">
         </span>

          </div>
         <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
             <li title="{{group.label}}"  role="menuitem" ng-repeat="group in accountData.data.fields" ng-show="group.is_group_by" ng-class="{selected : group.label === isGroupByFiled}">
               <a href="javascript:void(0)" ng-click="groupSelected(group); groupByFiled(group.label)">

                      <span class="glyphicon glyphicon-ok" ng-show="group.label === isGroupByFiled"></span>
                  {{group.label}}
               </a>
            </li>
         </ul>
 
   </div>
   
         <div class="btn-group" uib-dropdown ng-repeat="data in accountData.data.group_by | orderBy:'label'">
            <div title="{{data.label}}" class="btn btn-link bnt-title" uib-dropdown-toggle ng-click="filterBy(data.label)">
               {{data.label}} ({{data.record_count}}) 
            </div>
         </div>

      </div>
   </div>
   <div class="container-large" >
      <div class="recordHeader">
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 recordHeader-left pull-left">
            <span class="add-icon" ng-click="createNewAccountsTemplate('md')">
            <img src="images/icon_add.png" title="Add" />Add
            </span>
            <span class="refresh-icon" ng-click="refresh();">
            <img src="images/icon_refresh_g.png" title="Refresh"/>Refresh
            </span>

            <span class="customizeViewImg" ng-click="setupAccountsTemplate();">
            <img src="images/icon_customize.png" title="Setup"/>Setup
            </span>

            <div class="h-search" ng-init="columnSort= {label:'First Name'}" >
               <div class="header-search">
                  <span class="search-title" title="{{columnSort.label}}">{{columnSort.label}}</span>
                  <div class="input-group" id="adv-search">
                     <div class="dropdown  dropdown-lg">
                        <div class="btn-group" uib-dropdown>
                           <img src="images/img_down_arrow.png" class="dropIcon" align="absmiddle" uib-dropdown-toggle />
                           <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                              <li ng-repeat="colname in accountData.data.fields" ng-show="colname.is_search" title="{{colname.label}}">
                                 <a href="javascript:void(0)" ng-click="colnameSelected(colname)" title="{{colname.label}}">{{colname.label}}</a>
                              </li>
                           </ul>
                        </div>
                     </div>

                     <input type="text"  ng-enter="refresh()" class="form-control" focus-me="true" placeholder="Type a keyword and press enter" ng-model="searchText">

                     <div class="input-group-btn">
                        <div class="btn-group" role="group" >
                           <button type="button" ng-click="refresh()" title="Find">
                           <img src="images/icon_magnifying.png" >
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div style="clear: both;padding: 20px 0;">

         <div class="side-icon-pop">
      <ul ng-show="singleSelect">
         <li ng-show="!multipleSelect">
            <a ng-click="addNoteAccountsTemplate()" title="Add Notes">
               <img src="images/icon_add_notes.png"/>
            </a>
         </li>
        
         <li>
            <a ng-click="convertAccountsTemplate()" title="convert"  >
               <img src="images/icon_promote.png"/>
            </a>
         </li>
         <li>
            <a ng-click="addGroupAccountsTemplate()" title="Add to Group">
               <img src="images/icon_add_to_group.png"/>
            </a>
         </li>
         <li>
            <a ng-click="workflowAccountsTemplate()" title="Workflow">
               <img src="images/icon_applyWorkflow.png"/>
            </a>
         </li>

         <li>
            <a ng-click="shareWithAccountsTemplate()" title="Share">
               <img src="images/icon_share.png"/>
            </a>
         </li>

         <li ng-show="!multipleSelect">
         <a  title="Edit"  ng-click="accountsEdit()">
            <img src="images/icon_edit.png"/>
         </a>
      </li>
      <li>
         <a  ng-click="assignAccountsTemplate()" title="Assign">
            <img src="images/icon_assign_to.png"/>
         </a>
      </li>
     <li ng-show="multipleSelect">
         <a ng-click="sendMail()" title="Send Email">
            <img src="images/icon_email_small.png"/>
         </a>
      </li>
         
       <li ng-show="multipleSelect">
         <a ng-click="margeMail()" title="Marge">
            <img src="images/icon_merge_record.png"/>
         </a>
      </li>
         
       <li ng-show="multipleSelect">
            <a ng-click="batchEditAccountsTemplate()" title="Edit">
               <img src="images/icon_edit.png"/>
            </a>
         </li>
      <li>
         <a ng-click="deleteAccountAccountsTemplate()" title="Delete">
            <img src="images/icon_delete.png"/>
         </a>
      </li>
      <li>
         <a ng-click="viewGoogleMapAccountsTemplate()" title=Map>
            <img src="images/icon_map_pin.png"/>
         </a>
      </li>
      <li>
         <a ng-click="generateExcelAccountsTemplate()" title="To Excel">
            <img src="images/icon_excel.png"/>
         </a>
      </li>
      <li>
         <a  ng-print print-element-id="printThisElement" title="Print">
            <img src="images/icon_print.png"/>
         </a>
      </li>
   </ul>
</div>

        <div 
            ng-hide="gridOptions1.data.length == 0" 
            ui-grid="gridOptions1" 
            class="grid"  
            ui-grid-pagination 
            ui-grid-selection 
            ui-grid-resize-columns 
            ui-grid-exporter 
            ui-grid-move-columns 
            ui-grid-auto-resize 
            ng-style="getTableHeight()"
        >
           
        </div>

        <div class="watermark" ng-show="!gridOptions1.data.length">
            <div id="noRecordBox" class="norecord_white_box" style="width: 75%;">
               <div class="text_portion">
               <p class="heading">No Accounts found.</p>
                  <p>An Account is a business that you want to do business with. Accounts include both leads and customers.</p>
               </div>
               <div class="form-group text-left">
                       <button type="button" class="btn_bg1" ng-click="createNewAccountsTemplate('md')">Create Accounts</button>
                      <span> or </span>
                       <button type="button" class="btn_bg1" ng-click="cancel()">Import Accounts</button>
                </div>
               </div>
        </div>


      </div>
   </div>
</div>
