<div id="noRecordBox" class="norecord_white_box" style="width: 75%;">
<div class="text_portion">
<p class="heading">No Accounts found.</p>
	<p>An Account is a business that you want to do business with. Accounts include both leads and customers.</p>
</div>
<div class="form-group text-left">
        <button type="button" class="btn_bg1" ng-click="saveSetupField()" ng-disabled="accountForm.$invalid">Create Accounts</button>
		 <span> or </span>
        <button type="button" class="btn_bg1" ng-click="cancel()">Import Accounts</button>
 </div>
</div>