<div class="modal-content">
  <div class="modal-header pop-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Add Note</h4>
  </div>
  <div class="modal-body">
   
  <div>
		<strong style="color: #666666;">Add a Note (optional)</strong>
	</div>
	
	<div>
		<textarea id="flyNote" name="flyNote" rows="" cols="10" style="width: 98%;height: 100px;resize: none;margin: 8px 0px 0px 0px; border-radius: 4px;"></textarea>
	</div>	
  </div>

	
  <div class="text-center">
  <div class="task_input">
		<input name="complete" id="complete" value="Complete" class="btn_bg1 small_btn" disabled="" type="button">  <!-- style="margin: 1em auto;" -->
		<input name="cancel" id="cancel" value="Cancel" class="btn_bg1 small_btn" type="button">
	</div>
    
  </div>
</div>