
<div class="container">

	<div class="salesTemplate-width" ng-controller="copySalesTemplatesCtrl">
       <!--  <pre>{{preview}}</pre> -->
        <form name="copySalesTemplates">
            <div class="col-md-12">
    			<button type="submit" class="btn_bg1" ng-click="saveSalesTempl12(copyData)"> Save</button>
                <span ng-show="copyShoweMoreAction">
                    <button type="button" class="btn_bg1" ng-click="copySaleTemplate()">Copy</button>
                    <button type="button" ng-click="test()"  class="btn_bg1">Test</button>
                    <button type="button" class="btn_bg1"  ng-click="deleteSalesTemplate()">Delete</button>
                    <button type="button" class="btn_bg1" ng-click="openWindow()">Preview</button>
                </span>
    		</div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                        <label></label>
                        <input class="form-control" id="inputsm" type="text" ng-model="copyData.name" placeholder="Name">
                    </div>
                    <div class="col-md-2">
                        <label></label>
                        <select class="form-control" id="sel1" ng-model="copyData.status">
                            <option>Inactive</option>
                            <option>Active</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">                        
                        <input class="form-control"  type="text" id="myText" ng-model="copyData.subject" placeholder="Subject">
                    </div>
                    <div class="col-md-2">      
    					
                        <div class="btn-group dropdown right-side" uib-dropdown="" style="">                            
                            <p> <strong>Personalize  </strong> 
                            <img src="images/img_down_arrow.png" class="dropIcon dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false" align="absmiddle"></p>
                            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="split-button">
                                <li ng-click="addMailMarge(item)" class="ng-scope" ng-repeat="item in tempObject">
                                    <a  class="ng-binding">{{item.title}}</a>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                       
                        <textarea ng-model="copyData.email_message" data-ck-editor>
                            {{copyData.email_message}}
                        </textarea>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn_bg1" ng-click="saveSalesTempl12(copyData)"> Save</button>

            <span ng-show="copyShoweMoreAction">
                <button type="button" class="btn_bg1" ng-click="saveSalesTempl12(copyData)">Copy</button>
                <button type="button" ng-click="test()"  class="btn_bg1">Test</button>
                <button type="button" class="btn_bg1"  ng-click="deleteSalesTemplate()">Delete</button>
                <button type="button" class="btn_bg1" ng-click="openWindow()">Preview</button>
            </span>

        </form>
    </div>
</div>